[apply]

  # Give warnings about whitespace when diffing or applying a patch.
  whitespace = warn

[core]
  editor = nvim

[user]
  email = brian.mk.le@gmail.com
  name = Brian Le
[url "git@github.com:"]
  insteadOf = https://github.com/
